<figure class="bird-song">
  <figcaption>Listen to the {{ eleventyNavigation.key }}:</figcaption>
  <audio controls src="/audio/bird-songs/{{ eleventyNavigation.key }}.mp3">Your browser does not support audio.</audio>
</figure>