<header>
  <a href="/">
    <img src="/images/logos/small_logo.png" alt="Irish Garden Birds logo" id="logo">
  </a>
  <div id="header-links">
    {% include "partials/social-media-icons.njk" %}
    <a href="#" id="search">Search</a>
  </div>
</header>