---
layout: layouts/base.njk
stylesheet: about-us
eleventyNavigation:
  key: About Us
  parent: Home
---

<div id="hero-image-container">
  <img src="/images/about-us/night-bird.jpg" id="hero-image">
  <h1 id="hero-image-heading">About Us</h1>
</div>

<main>
  <article>
    <p>This website was created as part of a web development assignment for Waterford Institute of Technology's HDip Computer Science course. Much of the text, images and audio on this website has been adapted from content found on the following sites:</p>

    <ul id="sources">
      <li>
        <a href="https://www.british-birdsongs.uk/">https://www.british-birdsongs.uk/</a>
      </li>
      <li>
        <a href="https://www.rspb.org.uk/">https://www.rspb.org.uk/</a>
      </li>
      <li>
        <a href="https://birdwatchireland.ie/">https://birdwatchireland.ie/</a>
      </li>
      <li>
        <a href="http://clipart-library.com/clipart/rijrB5j8T.htm">http://clipart-library.com/clipart/rijrB5j8T.htm</a>
      </li>
      <li>
        <a href="https://afunnyanimal.blogspot.com/2011/09/english-garden-birds-pictures.html">https://afunnyanimal.blogspot.com/2011/09/english-garden-birds-pictures.html</a>
      </li>
      <li>
        <a href="https://www.hertswildlifetrust.org.uk/blog/wild-home/easter-garden-birds-and-their-nests-eggs">https://www.hertswildlifetrust.org.uk/blog/wild-home/easter-garden-birds-and-their-nests-eggs</a>
      </li>
      <li>
        <a href="https://voice.gardenbird.co.uk/what-happens-after-the-fledgling-period/">https://voice.gardenbird.co.uk/what-happens-after-the-fledgling-period/</a>
      </li>
      <li>
        <a href="https://codepen.io/patrykjachowski/pen/jvQBxG">https://codepen.io/patrykjachowski/pen/jvQBxG</a>
      </li>
    </ul>

    <p>If you are the author/owner of any of the content found on this site and wish for your content to be removed, please <a href="/contact">contact me</a> and I will remove it immediately.</p>
  </article>
</main>