---
layout: layouts/base.njk
stylesheet: garden-tips
eleventyNavigation:
  key: Garden Tips
  parent: Home
---

<div id="hero-image-container">
  <img src="/images/garden-tips/sparrows-on-bird-feeder.jpg" id="hero-image">
  <h1 id="hero-image-heading">Garden Tips</h1>
</div>

<main>
  <article>
    <div class="primary-content">
      <section id="introduction">
        <h2>
          Our Gardens
        </h2>
        <p>
          Our gardens are a haven for wildlife throughout the year. In winter, a variety of bird species are attracted to feeders and bird tables and can be watched from the comfort of our own homes. During the spring and summer, as well as availing of the food you put out, many birds will nest in nestboxes, trees, shrubs and even garden sheds. See below for more information on Ireland’s garden birds and how you can give them a helping hand throughout the year.
        </p>
        <hr>
      </section>

      <section>
        <h3 class="primary">Gardening for Birds</h3>
        <p class="primary">
          The most sustainable way to make your garden bird and wildlife friendly is to plant trees and shrubs that will provide natural food, shelter and nesting space at different times of the year. You can also go the extra mile by introducing suitable habitat like a small wildlife pond to your garden. See <a href="#">here</a> for further information on making your garden wildlife friendly.
        </p>
      </section>
      <img class="primary-image" src="/images/garden-tips/chaffinch.jpg" alt="A chaffinch feeding on a mossy branch">

      <img class="primary-image" src="/images/garden-tips/blue-tit-nest-box.jpg" alt="A blue tit outside a nest box">
      <section>
        <h3 class="primary">Nestboxes for Garden Birds</h3>
        <p class="primary">
          As well as planting suitable trees and shrubs for nesting birds, you can provide some species with a safe and secure place to nest with a nestbox. See <a href="#">here</a> for details on the different types of nestboxes, how/where/when to put them up, and instructions to help you make your own nestbox too.
        </p>
      </section>

      <section>
        <h3 class="primary">Fledglings and Their Parents</h3>
        <p class="primary">
          Seeing the first juvenile birds, just out of their nests, is one of the birding highlights of the summer months. In some cases it’s obvious what species a fledgling belongs to, but others can be more tricky. See <a href="#">here</a> for some help identifying juvenile birds of different species that you might find in your garden over the summer.
        </p>
      </section>
      <img class="primary-image" src="/images/garden-tips/starling-and-fledgling.jpg" alt="A starling and a fledgling">
    </div>
    
    <aside>
      <h3>Different foods for your birds</h3>
      <p>
        If you want to attract a diverse mix of bird species, then provide a wide variety of different foods to cater for every taste!
      </p>
      <img class="aside-image" src="/images/garden-tips/peanuts.jpg" alt="Some peanuts">
      <h3>Peanuts</h3>
      <p>
        One of the most popular bird foods, and for good reason. They have a high calorie content (behind only sunflower hearts), are high in protein and they have no shell that birds need to wrestle off. Peanuts are popular with probably the largest range of species, including all of the tits and finches, house sparrows, and more!
      </p>
      <img class="aside-image" src="/images/garden-tips/sunflower-seeds.jpg" alt="Some sunflower seeds">
      <h3>Sunflower Seeds</h3>
      <p>
        These are a good ‘standard’ food to provide if you want to cater for a variety of bird species. Sunflower hearts are the best of the lot as they have more oils and calories than the others, and no shell – so the birds waste no energy when eating them. They’re a bit more expensive as a result, but worth the money.
      </p>
      <img class="aside-image" src="/images/garden-tips/nyger-seed.jpg" alt="Some nyger seed">
      <h3>Nyger Seed</h3>
      <p>
        Nyjer/Nyger is a relatively new addition to the bird food market. The seeds are very fine, so are much loved by the finches that traditionally enjoy thistle seeds – most notably Goldfinches, but also Siskin and Redpoll. Nyjer requires a specialised bird feeder with smaller holes as it can be quite messy.
      </p>
    </aside>
  </article>
</main>