---
layout: layouts/base.njk
eleventyNavigation:
  key: Get Involved
  parent: Home
---

<div id="hero-image-container">
  <img src="/images/get-involved/bird-bath.jpg" id="hero-image">
  <h1 id="hero-image-heading">Get Involved</h1>
</div>

<main>
  <h1>Coming Soon!</h1>
</main>