---
title: Home
layout: layouts/base.njk
stylesheet: index
eleventyNavigation:
  key: Home
---

<div id="hero-image-container">
  <img src="/images/index/blue-tit.jpg" id="hero-image">
  <h1 id="hero-image-heading">Irish Garden Birds</h1>
</div>

<main id="index">
  <p id="welcome">
    Welcome to Irish Garden Birds, a website dedicated to educating people of all ages all about the birds and wildlife in Ireland's gardens.
    Here, you'll find regular updates on what's happening with wildlife in Irish gardens at this time of year, along with news on ornithilogical events being held across Ireland, detailed information on all sorts of wildlife in your garden, and ways in which you can get involved and help to look after your garden's birds.
  </p>

  <div class="grid-container">
    <div>
      <h2>Learn about birds in your garden</h2>
      <p class="grid-body">
        Our gardens are a haven for wildlife throughout the year. Here, you can find out all about a huge variety of birds and wildlife you can find in your garden, including how to identify them, audio recordings and descriptions of their songs, their diets, as well as information on their breeding habits and wintering locations.
      </p>
      <a class="button" href="/birds-&-wildlife">LEARN MORE</a>
    </div>
    <img src="/images/index/great-tit.jpg" alt="A great tit">

    <img src="/images/index/house-sparrow-and-coal-tit.jpg" alt="A house sparrow and a coal tit on a bird feeder">
    <div>
      <h2>Looking after your garden's wildlife</h2>
      <p class="grid-body">
        By putting out food and shelter for birds in your garden you can give them a helping hand when they need it most. See here for details on the advantages and disadvantages of various bird foods, and other helpful tips and tricks to attract birds into your garden.
      </p>
      <a class="button" href="/garden-tips">GARDEN TIPS</a>
    </div>

    <div>
      <h2>Ireland's garden bird survey</h2>
      <p class="grid-body">
        Ireland’s biggest bird survey is open to everyone and a great way to learn about the birds in your garden. Taking part is easy and provides us with really important data on how our garden bird populations are doing from year to year.
      </p>
      <a class="button highlighted" href="/get-involved">GET INVOLVED</a>
    </div>
    <img src="/images/index/bullfinch.jpg" alt="A hovering bullfinch">
  </div>
</main>