---
imageFolder: blackbird
irishName: Lon Dubh
eleventyNavigation:
  key: Blackbird
  excerpt: Although always a little shy, the Blackbird is the commonest and most 
           widespread member of the thrush family In Ireland.
---
<h2>Status</h2>
<p>
  Resident, and winter visitor from Norway, Sweden, Germany & Denmark. One of Ireland's top 20 most widespread garden birds.
</p>

<h2>Identification</h2>
<p>
  The commonest and most widespread member of the Thrush family In Ireland. The males's all black plumage and bright yellow bill is unmistakable, however females are much browner, with speckles on the upper breast and at first glance resemble a Song Thrush. Often cocks long tail when alarmed or when running along ground.
</p>

<h2>Voice</h2>
<p>
  One of the favourite songsters. Song is rather slow, mellow and fluty, the notes ranging widely and the sound quite far-carrying. The quality of sound resembles Song thrush, but the phrases do not repeat, but ramble on continually changing slightly. Calls include an agitated "chink, chink, chink" or "chack, chack..", a whinnying horse-like cry and a thin "psew".
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
  Insects, especially earthworms. Also berries and other fruit including apples. Comes to bird tables
</p>

<h2>Breeding</h2>
<p>
  Breeds throughout Ireland in many different habitats - mostly in hedgerows and gardens. Nest in trees or bushes - especially brambles and ivy, but also conifers. Will use large open-fronted nestboxes.
</p>

<h2>Wintering</h2>
<p>
  Irish breeders are largely sedentary. Migrants from the Continent arrive in autumn
</p>