---
imageFolder: blue-tit
irishName: Meantán Gorm
eleventyNavigation:
  key: Blue Tit
  excerpt: Always busy around the garden, the Blue Tit is a colourful, noisy, 
           active little bird, commonly seen in gardens, especially on peanut and seed feeders. They will also happily use nestboxes.
---
<h2>Status</h2>
<p>
  Common resident throughout Ireland. One of Ireland's top 20 most widespread garden birds.
</p>

<h2>Identification</h2>
<p>
  A colourful, noisy, active little bird, commonly seen in gardens, especially at nut feeders and will use nestboxes. Bright blue crown, nape colllar, wings and tail and yellow underside. The white cheeks are bordered by a dark blue line - the line through the eye is separated from the blue cap by a white band - all producing a distinctive head pattern. Bill is short and stubby, legs bluish-grey. Very acrobatic, often hangs upside-down on branches pecking at buds or foraging for insects. Reqular visitor to peanut feeders and will use nestboxes. Occurs in woodland, farmland, gardens etc. Usually seen in small groups in winter and will team up with other tit species, Treecreepers and Goldcrests to form roving bands.
</p>

<h2>Voice</h2>
<p>
  Song a clear, quite high-pitched "tsee-hee-he-hee…". Call a series of scolding chuckles, also many short twitters
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
  Mainly small insects, but also seeds and will readily use peanut feeder and take scraps from bird table.
</p>

<h2>Breeding</h2>
<p>
  Breeds throughout Ireland - prefers broad-leaved woodland, but also in farmland, parks and gardens. Nests in cavity in tree or wall. Occasionally chooses an unusual site such as a pipe or letterbox, but will readily use nestboxes.
</p>

<h2>Wintering</h2>
<p>
  Largely resident.
</p>