---
imageFolder: chaffinch
irishName: Rí Rua
eleventyNavigation:
  key: Chaffinch
  excerpt: Our commonest finch - found in woodland, farmland, parks and gardens. In winter can form large flocks of hundreds of birds,
           especially in stubble fields and under beech trees.
---
<h2>Status</h2>
<p>
  Resident, augmented by winter visitors. One of Ireland's top 20 most widespread garden birds.
</p>

<h2>Identification</h2>
<p>
  The male's breast, face and underside are a pinkish orange-brown, becoming a darker, wine shade in winter. The nape and crown are blue-grey. The upper back is warm brown, while the lower back/rump is a contrasting green tone, usually hidden by the bird's folded wings when perched. The female is much greyer, with washed out warm grey underparts. Both sexes display large white patches on otherwise blackish wings, both when perched and flying - this makes identification quite striaghtforward even at some range. Both sexes also have a longish tail, which shows a dark centre and white outer feathers in flight.
</p>

<h2>Voice</h2>
<p>
  Song a loud, full, bubbly string of notes, starting high and descending throughout, ending with a flourish resembling a wolf whistle. The song is repeated many times. Call a loud "pink" and in flight a subdued short, mellow whistle.
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
  Mainly seeds, split grain, beechnuts. Feeds young on insects. Will visit bird tables and feeders
</p>

<h2>Breeding</h2>
<p>
  Breeds throughout Ireland - mainly in or near woodland, but also in parks and gardens. Nest, of moss and dried grass - often camouflaged with lichens and cobwebs, in a fork near end of branch.
</p>

<h2>Wintering</h2>
<p>
  Widespread
</p>