---
imageFolder: collared-dove
irishName: Fearán Baicdhubh
eleventyNavigation:
  key: Collared Dove
  excerpt: The collared dove is a pretty little pigeon that is a regular sight in our gardens, woodlands and parks. 
           Listen out for its familiar cooing call, which you may hear before you see the bird itself.
---
<h2>Status</h2>
<p>
  Resident in towns and villages throughout Ireland. One of Ireland's top 20 most widespread garden birds.
</p>

<h2>Identification</h2>
<p>
  A medium sized dove. Best identified from its narrow black, white edged, bar across the side of its neck. A rather uniformly coloured pale grey bird with dark outer wing feathers.
</p>

<h2>Voice</h2>
<p>
  Trisyllabic coo, repeated several times.
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
Cereal grain, seeds and fruits of herbs and grasses, sometimes green parts and invertebrates.
</p>

<h2>Breeding</h2>
<p>
A recent colonist, it arrived in Ireland in 1959, after a rapid expansion through Europe in the preceding decades. It is now a widespread bird in Ireland but it shows a marked preference for suburbs, small towns and cereal growing areas. In the wider countryside it is only found in lowland areas and often in the vicinity of farm buildings, tends to avoid open countryside. Breeds in the dense foliage of trees. Nest a small flimsy flat platform of fine twigs. Usually two eggs.
</p>

<h2>Wintering</h2>
<p>
  Similar to breeding distribution.
</p>