---
imageFolder: great-tit
irishName: Meantán Mór
eleventyNavigation:
  key: Great Tit
  excerpt: The largest of the tit family. Striking black head with large white 
           cheek patches and black band running down the centre of a bright yellow breast.
---
<h2>Status</h2>
<p>
  Resident. One of Ireland's top 20 most widespread garden birds.
</p>

<h2>Identification</h2>
<p>
  The largest of the tit family. Striking black head with large white cheek patches and black band running down the centre of a bright yellow breast. Back yellowish- green, wings and tail silvery blue. In flight, white outer tail feathers show. When perched, a distinct white wingbar shows. Bill is pointed but stout, legs bluish-grey.
</p>

<h2>Voice</h2>
<p>
  Typical song a loud, full "teacher, teacher" and many other variations. Call a scolding sound or a quiet, repeated " tew, tew tew".
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
  Mainly insects, seeds and nuts. Will use peanut feeders and take scraps on bird tables.
</p>

<h2>Breeding</h2>
<p>
  Breeds throughout Ireland - prefers broad-leaved woodland, but also in farmland, parks and gardens. Nests in cavity in tree or wall. Often choosing unusual site such as a pipe or letterbox. Readily uses nestboxes.
</p>

<h2>Wintering</h2>
<p>
  Widespread
</p>