---
imageFolder: robin
irishName: Spideog
eleventyNavigation:
  key: Robin
  excerpt: Present in almost every Irish garden and easily recognizable with 
           their bright orange-red breast and often cheeky behaviour
---

<h2>Status</h2>
<p>
  Resident. Ireland's most widespread garden bird almost every year.
</p>

<h2>Identification</h2>
<p>
  Probably the most familiar garden bird - the bright orange-red breast and facial area make it unmistakable. Upperparts a uniform greyish brown, belly and lower breast greyish white. The bill is dark and pointed and the legs black. Can appear very plump and rounded, especially in cold weather when the bird fluffs out its feathers. Can be very confiding, often perching motionless close to gardening activity. Occasionally cocks tail briefly.
</p>

<h2>Voice</h2>
<p>
  Song a wispy, relatively slow series of notes ranging up and down the scale, becoming more rapid in parts - the notes rolling into each other. Somewhat melancholy - winter song even more so. Calls include a "tick" which is sometimes repeated to sound like an old clock being wound up. Also a plaintive, barely audible "seep".
</p>
{% include "partials/bird-song.njk" %}

<h2>Diet</h2>
<p>
  Insects and some fruits, including apples. Readily comes to bird tables.
</p>

<h2>Breeding</h2>
<p>
  Over 2 million pairs breed across the Republic of Ireland, in many different habitats. Nest usually well-concealed in a bank, ivy or cavity in tree or wall. Sometimes chooses unusual location such as a hat or garment hanging in garden shed. Will use open-fronted nestboxes.
</p>

<h2>Wintering</h2>
<p>
  Widespread. Recorded in 99% of Irish gardens each winter.
</p>