---
title: Bird Atlas maps for all of Europe now online!
imageFolder: bird-atlas-maps

eleventyNavigation:
  key: Bird Atlas Maps
  excerpt: More than a year ago, the second European Breeding Bird Atlas was published. This week, all of those maps were put online.
---

<p>
  More than a year ago, the second European Breeding Bird Atlas was published. The atlas provides <strong>an up-to-date picture of where every one of 596 species of bird nests across Europe</strong>, and how their distribution has changed since the 1980’s. This week, all of those maps were put online and so are <strong>free to access</strong>, at  <a href="https://ebba2.info/maps/">https://ebba2.info/maps/</a>. Whether you’re curious about where your favourite species can be found across Europe, wondering where a rare bird that has turned up in Ireland, want to examine where a newly-arrived Irish breeder has expanded from, or want to see if the declines of species here in Ireland are happening at a wider European scale, this is the website for you! It’s all freely available, easy to navigate, and will undoubtedly satisfy your curiosity!
</p>
<p>
  The European Breeding Bird Atlas recently won the BTO and British Birds award for ‘<strong>Best Bird Book of the Year 2021</strong>’, as it was considered the most impactful and far-reaching title of the past 12 months, receiving top marks from all of the judges. Hundreds of Irish birdwatchers contributed to the data that this mammoth atlas is based on (‘mammoth’ describing the scale of the project… no mammoth maps are featured…) and already scientists across Europe are delving deeper into the patterns and trends observed to see what lessons can be learned about the changes in European biodiversity in the last 30-40 years.
</p>

<figure class="secondary-image">
  <img src="/images/news-articles/bird-atlas-maps/EBBA2-map-great-spotted-woodpecker.jpg" alt="Map of great spotted woodpecker breeding locations in Europe">
  <figcaption>
    Great Spotted Woodpecker – abundant and widespread across Europe, and recently making inroads to Ireland. Even in the few years since the survey work for this atlas was done, Woodpeckers have spread further across Ireland.
  </figcaption>
</figure>

<p>
  Remember you can zoom in and out of each map, and filter by a number of different map layers to examine distribution, breeding evidence, and changes over time. If you’re looking for something even more fine-scale, there’s always the Bird Atlas of Britain and Ireland from 2007-2011, the maps for which are freely available here: <a href="https://app.bto.org/mapstore/StoreServlet">https://app.bto.org/mapstore/StoreServlet</a> and which also illustrates the wintering distribution of our birds.
</p>