---
title: Urban Gulls - A View from the Roof-tops
imageFolder: urban-gulls

eleventyNavigation:
  key: Urban Gulls
  excerpt: Love them or loathe them, ‘seagulls in the city’, are here to 
           stay.
---

<h2>Firstly, some facts:</h2>
<p>
  Seagulls, NO! Just ‘gulls’, and in summer months in urban areas they can be any of three species: Herring Gull, Lesser Black-backed and Great Black-backed Gull. In the last two decades many of these have ‘moved away’ from their mostly coastal haunts and now can be found almost anywhere in the country – cities, parks, farmland, lakes and reservoirs, coasts, harbours, islands. Herring Gulls and Lesser Black-backed Gulls have taken to nesting on roofs but ‘Greats’ still mostly nest on coastal cliffs and islands. The majority of urban nesting gulls are Herring Gulls.
</p>
<figure>
  <img src="/images/news-articles/urban-gulls/nesting-herring-gull.jpg" alt="A nesting herring gull and chicks">
  <figcaption>Herring Gulls traditionally nest along the coast but now commonly nest on rooftops in some urban areas.</figcaption>
</figure>
<p>
  Twenty years ago, there were only a couple of hundred urban/roof-nesting gulls – mostly in Dublin City and the north County Dublin towns of Howth, Skerries and Balbriggan with a few more in the south coast fishing port of Dunmore East, County Waterford. Since then, the population has increased dramatically and almost certainly numbers in the thousands of pairs. The National Parks & Wildlife Service have initiated a systematic survey of urban-nesting gulls in spring/summer 2021 and following this we ought to have an idea of the true magnitude of the population increase.
</p>
<p>
  On the coasts, a comprehensive national survey spanning 2015-2019, showed that all three species have increased modestly (30-40%) for Herring and Great Back-backed over 15-20 years, whereas the Lesser Black-backed Gull have increased more dramatically (148%) in the same period. Much of the increase in Lesser Black-backed Gulls has been seen on large lakes in the west (again, not seagulls!). These increases suggest that species such as the Herring Gull have recovered from earlier declines which had resulted in them being Red-listed (i.e. of serious conservation concern).
</p>
<img src="/images/news-articles/urban-gulls/herring-gull-in-flight.jpg" alt="A herring gull in flight" class="secondary-image">
<p>
  How the urban-nesting gulls ‘interact’ with, or differ from, coastal gulls is a key question that will require some new research looking at movement patterns, diet and feeding ecology, and recruitment of young. Taking these topics individually…
</p>
<h2>Movements</h2>
<p>
  Dublin is a coastal City with a large tidal river (Liffey) flowing through the middle of it. Do gulls become urban or coastal specialists or do they move regularly back and forth from coastal and intertidal habitats to city parks and streets, eating shellfish one day and discarded takeaway leftovers the next? Resightings of the increasing numbers of individually identifiable colour ringed gulls (by the Irish Midlands Ringing Group) is vital to this. Movements may be driven more by other aspects of behaviour e.g. birds on the streets by day may move to roost in Dublin Bay at night. Deployment of GPS tags and colour ring ‘reads’ will help in this regard.
</p>
<figure>
  <img src="/images/news-articles/urban-gulls/tagged-herring-gull.jpg" alt="A tagged herring gull">
  <figcaption>Some gulls are ‘tagged’ with a leg ring, similar to the one above. If you see one, be sure to report it, to help shed more light on their movements.</figcaption>
</figure>
<h2>Diet</h2>
<p>
  Are all urban nesting or wintering (in parks etc.) gulls dependent on human waste? Can we do more with local authorities, schools and communities to cut littering and dissuade people from feeding gulls in public parks and other green spaces?
</p>
<figure>
  <img src="/images/news-articles/urban-gulls/main.jpg" alt="A herring gull perched on the edge of a public bin">
  <figcaption>The way we manage our waste is a big factor in the increased numbers of urban gulls in recent years.</figcaption>
</figure>
<h2>Recruitment of young</h2>
<p>
  Will a chick reared on a rooftop always go on to breed on a rooftop when it reaches maturity at about 4-years of age? And, ditto for birds reared on islands such as Dalkey and Ireland’s Eye? A very important piece of evidence arose on 24 May 2021 when an opportunistic ring read of an adult Lesser Black-back nesting on Dalkey Island was shown to be one of a brood ringed on the roof of the National Gallery in the heart of D2 in 2017!
</p>
<figure>
  <img src="/images/news-articles/urban-gulls/black-backed-gulls.jpg" alt="Two black-backed gulls on a rock">
  <figcaption>Recent research indicates that not all chicks from urban nests return to towns and cities to nest. More research is needed to learn about the relationship between the gulls natural and urban-nesting sites and how they’re linked.
  </figcaption>
</figure>
<p>
  Perhaps the most important issue to many city residents is the impact of gulls on human health and well-being. The regularly listed complaints include, food theft (while people eat in the streets and parks), early morning noise (disrupting sleep patterns etc.), physical harassment (by aggressive nest and chick-defending adults); mess from droppings fouling clean clothes on washing lines or on parked cars. There is no magic cure, but one step at a time, we have to make cities less attractive habitat to gulls, and food availability is at the core of this issue. We need to do more, individually and collectively to reduce this via changes in personal behaviour, refuse collection strategies etc. We are not going to make roofs less attractive nesting sites (without great structural expenditure) but if we reduce food availability then numbers ought to decline in the long-term.
</p>
<figure>
  <img src="/images/news-articles/urban-gulls/herring-gull-with-toothpaste-tube.jpg" alt="Two black-backed gulls on a rock">
  <figcaption>A young gull tackles a toothpaste tube in St. Stephens Green in Dublin – a sign that we need to manage our waste and rubbish better.
</figcaption>
</figure>